@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Young Serif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
}
main{
    max-width: 650px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.card-content{
    padding: 2.5rem;
}
h1.title{
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    font-size: 2.2em;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-bottom: 1rem;
    margin-top: 0.75rem;
}
p.description{
    font-size: 1rem;
    color: hsl(30, 10%, 34%);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
ul, ol{
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}
li{
    font-size: 1rem;
    color: hsl(30, 10%, 34%);
    line-height: 1.6;
    padding-left: 0.5rem;
    margin-bottom: 10px;
}
li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
strong{
    color: hsl(24, 5%, 18%);
    font-weight: 700;
}
.preparation-time{
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 12px;
    margin: 1.5rem 0 2rem 0;
}
.preparation-time h3{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
    margin-bottom: 0.75rem;
}
.preparation-time ::marker{
    color: hsl(332, 51%, 32%);
}
hr{
    border: none;
    border-top: 1px solid hsl(30, 18%, 87%);
    margin: 2rem 0;
}
.nutrition p{
    font-size: 1rem;
    color: hsl(30, 10%, 34%);
    margin-bottom: 1rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
td{
    padding: 0.75rem 0;
    font-size: 1rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
tr:last-child td {
    border-bottom: none;
}
td:first-child {
    color: hsl(30, 10%, 34%);
}
td:last-child {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }